@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "customTheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95% 0.038 75.164);
  --color-base-200: oklch(90% 0.076 70.697);
  --color-base-300: oklch(83% 0.128 66.29);
  --color-base-content: oklch(27% 0.072 132.109);
  --color-primary: oklch(55% 0.195 38.402);
  --color-primary-content: oklch(90% 0.076 70.697);
  --color-secondary: oklch(21% 0.006 56.043);
  --color-secondary-content: oklch(90% 0.076 70.697);
  --color-accent: oklch(66% 0.179 58.318);
  --color-accent-content: oklch(21% 0.006 56.043);
  --color-neutral: oklch(27% 0.072 132.109);
  --color-neutral-content: oklch(95% 0.038 75.164);
  --color-info: oklch(52% 0.105 223.128);
  --color-info-content: oklch(95% 0.045 203.388);
  --color-success: oklch(44% 0.119 151.328);
  --color-success-content: oklch(96% 0.067 122.328);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(26% 0.007 34.298);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(93% 0.032 17.717);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
};

@plugin "daisyui/theme" {
  name: "customDark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.007 34.298);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(14% 0.004 49.25);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-primary: oklch(55% 0.195 38.402);
  --color-primary-content: oklch(90% 0.076 70.697);
  --color-secondary: oklch(14% 0.004 49.25);
  --color-secondary-content: oklch(90% 0.076 70.697);
  --color-accent: oklch(66% 0.179 58.318);
  --color-accent-content: oklch(26% 0.007 34.298);
  --color-neutral: oklch(40% 0.123 38.172);
  --color-neutral-content: oklch(90% 0.076 70.697);
  --color-info: oklch(39% 0.07 227.392);
  --color-info-content: oklch(95% 0.045 203.388);
  --color-success: oklch(45% 0.124 130.933);
  --color-success-content: oklch(90% 0.076 70.697);
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: oklch(37% 0.01 67.558);
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: oklch(27% 0.1985 24.22);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
};

@theme {
  --font-quicksand: Quicksand, sans-serif;
  --font-vt323: VT323, sans-serif;
  --font-cormorant: Cormorant, sans-serif;
  --font-lobster-title: Lobster, sans-serif;
  --font-lobster-text: Lobster Two, sans-serif;
  --font-Shrikhand: Shrikhand, sans-serif;
  --font-Paprika: Paprika, sans-serif;
  --font-Poppins: Poppins, sans-serif;
};

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility custom-border {
  @apply border-r-4 border-t-4 border-b-8 border-l-8 border-secondary rounded-b-box shadow-md;
}

@utility custom-window-top {
  @apply bg-secondary text-secondary-content pl-6 py-1.5 rounded-t-box font-lobster-title;
}

#root {
  width: 100vh;
  height: 100vh;
}

.spacer {
  position: fixed;
  aspect-ratio: 675/900;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundLight {
  background-image: url('../ui/assets/bg-light.svg');
}

.backgroundDark {
  background-image: url('../ui/assets/bg-dark.svg');
  background-color: oklch(21% 0.006 56.043);
}